* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: Anton;
  src: url('/src/Fonts/Anton/Anton-Regular.ttf');
}
@font-face {
  font-family: Oswald;
  src: url('/src/Fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: Domine;
  src: url('/src/Fonts/Domine/Domine-Bold.ttf');
}

@font-face {
  font-family: RobotoSlab;
  src: url('/src/Fonts/Roboto_Slab/RobotoSlab-Black.ttf');
}

:root {
  --bg: skyblue;
}
